<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Product Dashboard</h2>
            <p>This module adds a dashboard feature for the product catalog.
                This feature helps product managers in managing the company's
                product catalog. Through this dashboard, product managers
                can monitor products whose selling prices have entered
                their expiry date or have already expired.</p>
            <p>Apart from the product manager, this dashboard also helps
                the sales department to get information on products that are
                no longer being sold, whose information has been updated, and
                new products.</p>
            <p>Please note, this module has a dependency with the
                <strong>jvm_product</strong> module to obtain information about
                the validity of the product selling price. This information
                is processed into information on the expiration time of
                the product selling price.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Credits</h2>
        </div>
        <div class="oe_span12">
            <h3>Contributors</h3>
            <ul>
                <li>Sunu Haeriadi &lt;<a href="mailto:halo@haeriadi.my.id">halo@haeriadi.my.id</a>&gt;
                </li>
            </ul>
        </div>
    </div>
</section>
